@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito_Sans';
    src: url("../fonts/Nunito_Sans/NunitoSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: NunitoSans;
    src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    margin: 0 auto;
    /* width: 1366px; */
}

.center {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
}

.conteiner_fix {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(233, 233, 233, 0.5);
    width: 100%;
    min-width: 320px;
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}

header {
    height: 670px;
    background-color: #e9e9e9;
    position: relative;
    background-image: url(../img/kolya.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 30px 80px;
}

.logo_header {
    display: block;
    width: 30px;
    height: 27px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 70px;
}

.nav_header {
    display: flex;
    flex-direction: row;
    float: right;
    min-width: 616px;
    min-height: 24px;
    margin: 30px 67px 0 0;
}

.items:hover {
    color: #10c9c3;
}

.items {
    /* Style for "home" */
    text-decoration: none;
    padding: 0 5px;
    text-align: center;
    width: 100%;
    height: 24px;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    transition: 0.2s;
}

.style_01 {
    letter-spacing: 1.2px;
}

.conteiner_h2_p_button {
    height: 260px;
    width: 480px;
    margin: 150px 124px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: right;
    clear: both;
}

.h2_header {
    /* Style for "We Design" */
    width: 100%;
    height: 38px;
    color: #1d1d1d;
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    /* Text style for "W, e Desig" */
    letter-spacing: 0.38px;
}

.txt_header {
    /* Style for "We are a n" */
    width: 100%;
    height: 92px;
    color: #787878;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    /* Text style for "We are a n" */
    letter-spacing: 0.09px;
}

.btn_header:hover {
    background-color: #13F0E9;
    box-shadow: 0px 5px 10px 1px #0B8E8A;
}

.btn_header:active {
    background-color: #0B8E8A;
    box-shadow: 0 0 1px 1px #0B8E8A;
}

.btn_header {
    /* Style for "contact us" */
    outline: none;
    width: 88px;
    height: 9px;
    color: #ffffff;
    border: none;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 44px;
    text-transform: uppercase;
    /* Text style for "contact us" */
    letter-spacing: 1.2px;
    /* Style for "bg" */
    width: 180px;
    height: 54px;
    background-color: #10c9c3;
}

.basis {
    margin: 0 auto;
    height: 100%;
    width: 1363px;
    min-width: 360px;
}

.chapter {
    width: 100%;
    min-height: 930px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chapter-name {
    font-family: Montserrat;
    color: #191919;
    font-size: 30px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    align-self: center;
    margin-top: 100px;
    width: 100%;
    margin-bottom: 0px;
}

.chapter-text {
    font-family: NunitoSans;
    color: #787878;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 31px;
    margin-bottom: 57px;
    width: 500px;
    min-height: 38px;
    align-self: center;
}

.chapter-video {
    object-fit: inherit;
    margin-left: 98px;
    margin-bottom: 100px
}

/* >>>>>>> origin/Asia */

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    padding: 70px 120px;
    background-color: #f5f5f5;
}

.service {
    width: 240px;
    margin: 30px 0;
    text-align: center;
}

.service-icon {
    max-width: 44px;
    max-height: 46px;
    margin-bottom: 25px;
}

.service-heading {
    margin-bottom: 20px;
    color: #191919;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.service-text {
    color: #787878;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}

/* >>>>>>> origin/paradoxalyty */

/* Перемещено из test.css */

.cont_block_two_hhh {
    max-width: 1366px;
}

.block_two_hhh {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about_hhh {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_hhh h2 {
    padding-top: 100px;
    color: #191919;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.about_hhh p {
    padding-top: 41px;
    color: #787878;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
    padding-bottom: 37px;
    display: block;
    margin: 0 15%;
}

.about_bc_hhh {
    background: url('../img/signature.png') no-repeat center;
    width: 100%;
    height: 100px;
}

.bg_skill_img_hhh {
    background: url(../img/SLIDER-Python.jpg) no-repeat;
    width: 80%;
    height: 100%;
    background-size: cover;
    box-shadow: 0px 0px 15px 8px rgba(26, 44, 126, 0.404);

}

.skills_item {
    border-bottom: 5px solid transparent;
    border-image-slice: 1;
}

.set_form_hhh {
    width: 90%;
}

.set_form_hhh div {
    height: 70px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    padding-bottom: 5px;
}

.gradient_1_hhh {
    border-image: linear-gradient(90deg, #10c9c3 0%, #10c9c3 75%, #d8d8d8 78%);
}

.gradient_2_hhh {
    border-image: linear-gradient(90deg, #10c9c3 0%, #10c9c3 90%, #d8d8d8 93%);
}

.gradient_3_hhh {
    border-image: linear-gradient(90deg, #10c9c3 0%, #10c9c3 60%, #d8d8d8 63%);
}

.skills_hhh {
    display: flex;
    height: 250px;
    justify-content: center;

}

.skills_form_hhh {
    width: 50%;
    display: flex;
    align-items: center;

}

.skills_image_hhh {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

}

/* Перемещено из test.css */
/* Перемещено из contact_us.css */
.contact_us {
    padding: 98px;
    padding-top: 90px;
    background-color: #f5f5f5;
    text-align: center;
}

.contact_us h2 {
    font-family: Montserrat;
    color: #1d1d1d;
    font-size: 30px;
    line-height: 50px;
    margin-top: 0;
}

.contact_us p {
    font-family: NunitoSans;
    color: #787878;
    font-size: 16px;
    line-height: 24px;
    width: 537px;
    margin: 0 auto;
}

.contact_us-form {
    width: 670px;
    margin: 40px auto 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact_us-form_input {
    box-sizing: border-box;
    font-family: NunitoSans;
    color: #787878;
    font-size: 15px;
    background-color: #fff;
    padding: 18px 0 19px 20px;
    margin-bottom: 30px;
    border: none;
}

.contact_us-form_input-name,
.contact_us-form_input-email {
    width: 320px;
}

.contact_us-form_input-name {
    text-transform: capitalize;
}

.contact_us-form_input-text,
.contact_us-form_input-textarea {
    width: 100%;
}

.contact_us-form_input-textarea {
    resize: none;
    height: 170px;
}

.contact_us-form_input-submit {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 12px;
    line-height: 54px;
    background-color: #10c9c3;
    text-transform: uppercase;
    margin: auto;
    padding: 0 35px;
}

/* Перемещено из contact_us.css */
/* Перемещено из carusel.css */
.carousel__wrapper {
    position: relative;
    min-height: 500px;
}

.corousel__item {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.filter {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.corousel__item-1:hover .filter,
.corousel__item-2:hover .filter,
.corousel__item-3:hover .filter {
    background-color: rgba(0, 0, 0, 0.3);
}

[id^="target__item"] {
    display: none;
}

.corousel__item-1 {
    background-color: #10c9c3;
    z-index: 2;
    opacity: 1;
}

.corousel__item-2 {
    background-color: #22cf22;
}

.corousel__item-3 {
    background-color: #a617d1;
}

*:target~.corousel__item-1 {
    opacity: 0;
}

#target__item-1:target~.corousel__item-1 {
    opacity: 1;
}

#target__item-2:target~.corousel__item-2,
#target__item-3:target~.corousel__item-3 {
    z-index: 3;
    opacity: 1;
}

.corousel__text-box {
    width: 70%;
    z-index: 5;
    color: white;
    text-align: center;
}

.corousel__texte-lement {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.arousel__texte-sign {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
}

.carousel__dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 6%;
    position: absolute;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    bottom: 42px;
    left: 47%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.carousel__dots .carousel__dots_dot {
    display: block;
    width: 6px;
    height: 6px;
    background-color: #b0e8e6;
    border-radius: 50%;
}

.carousel__dots .carousel__dots_dot-active {
    width: 10px;
    height: 10px;
    background-color: #fff;
}

/* Перемещено из carusel.css */
/* Перемещено из brands.css */
.brands {
    max-width: 100%;
    position: relative;
    min-height: 200px;
    background: url(../img/brands/bg.png) no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.brands__link {
    z-index: 1;
}

.brands_img {
    -webkit-transition: 1s;
    transition: 1s;
}

.brands_img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

/* Перемещено из brands.css */
/* belka_HL */
footer {
    background-color: #141414;
    width: 1366px;
    height: 284px;

}

.footer-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 98px;
    padding-right: 131px;
    padding-top: 100px;
    width: 1170px;
    height: 83px;
}

.text-main {
    text-align: left;
}

.text-main h6 {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 27px;

}

.text-main p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Nunito Sans';
    color: #bcbcbc;
}

.text-contact {
    margin-left: 246px;
    font-family: 'Nunito Sans';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

/* .text-contact p {
} */

/* .text-contact p a {
    color: #bcbcbc;
    text-decoration: none;
    
} */

.footer-box a {
    color: #bcbcbc;
    text-decoration: none;
}
.footer-box a:active {
    color: #b0c1e6;
}
.footer-box a:hover {
    color: #ebe8e8;
    font-weight: bolder;
}
.menu-about {
    margin-left: 145px;
    font-family: 'Nunito Sans';
    color: #bcbcbc;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/* .menu-about a{
    color: #bcbcbc;
    text-decoration: none;
} */

.menu-about p {}

.menu-contact {
    margin-left: 55px;
    font-family: 'Nunito Sans';
    color: #bcbcbc;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.menu-contact p {}

.join-us {
    margin-left: 135px;
    font-family: 'Nunito Sans';
    color: #bcbcbc;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

@media all and (max-width: 800px) {
    .footer-box {
        justify-content: space-around;
    }
}

@media all and (max-width: 500px) {
    .footer-box {
        flex-direction: column;
    }
}
/* belka_HL */