@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito_Sans';
    src: url("../fonts/Nunito_Sans/NunitoSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
   /* outline: 1px solid #000;*/
    box-sizing: border-box;
}
.conteiner {
    margin: 0 auto;
    width: 1366px;
}
.center {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
}
.conteiner_fix {
   height: 80px;
   display: flex;
   justify-content: space-between;
   background-color: rgba(233,233,233,0.5);
   width: 100%;
   min-width: 320px;
   max-width: 1366px;
   margin: 0 auto;
   position: relative;
   z-index: 9;
}  
header {
    height: 670px;
    background-color: #e9e9e9;
    position: relative;
    background-image: url(../img/kolya.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 30px 80px;
}

.logo_header {
    display: block;
    width: 30px;
    height: 27px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 70px;
}

.nav_header {
    display: flex;
    flex-direction: row;
    float: right;
    min-width: 616px;
    min-height: 24px;
    margin: 30px 67px 0 0;
}
.items:hover {
    color: #10c9c3;
}

.items {
    /* Style for "home" */
    text-decoration: none;
    padding: 0 5px;
    text-align: center;
    width: 100%;
    height: 24px;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    transition: 0.2s;
}

.style_01 {
    letter-spacing: 1.2px;
}

.conteiner_h2_p_button {
    height: 260px;
    width: 480px;
    margin: 150px 124px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: right;
    clear: both;
}

.h2_header {
    /* Style for "We Design" */
    width: 100%;
    height: 38px;
    color: #1d1d1d;
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    /* Text style for "W, e Desig" */
    letter-spacing: 0.38px;
}

.txt_header {
    /* Style for "We are a n" */
    width: 100%;
    height: 92px;
    color: #787878;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    /* Text style for "We are a n" */
    letter-spacing: 0.09px;
}

.btn_header:hover {
    background-color: #13F0E9;
    box-shadow: 0px 5px 10px 1px #0B8E8A;
}

.btn_header:active {
    background-color: #0B8E8A;
    box-shadow: 0 0 1px 1px #0B8E8A;
}

.btn_header {
    /* Style for "contact us" */
    outline: none;
    width: 88px;
    height: 9px;
    color: #ffffff;
    border: none;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 44px;
    text-transform: uppercase;
    /* Text style for "contact us" */
    letter-spacing: 1.2px;
    /* Style for "bg" */
    width: 180px;
    height: 54px;
    background-color: #10c9c3;
}